button {
  width: 200px;
  height: 75px;
  background-color: rgb(255, 145, 0);
  outline: none;
  color: rgb(3, 43, 52);
  font-weight: bolder;
  letter-spacing: 2px;
  border-radius: 10px;
  border-width: 3px;
  border-color: aliceblue;
  box-shadow: none;
  margin: 10px;
}
