div {
  .top-row {
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20%;
    margin: 10px;
    padding: 10px;
    .name-wrapper {
      width: 80%;
      display: flex;
      justify-content: center;
    }
    .button-wrapper {
      display: flex;
      flex-direction: column;
    }
  }
}
